*{
    margin:0;
    padding:0;
}
body {
    font-size: 14px;
    background: #fff;
    overflow-y:scroll;
    overflow-x:hidden;
}
html,body {
    max-width:640px;
    height:100%;
    margin:0 auto;
}
ol,ul {
    list-style:none;
}
